<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  

  <table class="w3-table-all w3-xlarge">
        <tr>
                <td><ng-content select="[day]"></ng-content> </td><td>  <ng-content select="[image1]"></ng-content> </td><td>  <ng-content select="[temp]"></ng-content></td> <td><ng-content select="[header]"></ng-content></td>
            </tr>
  </table>
</div>

</body>
</html> 











